<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhang.test">

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.zhang.test.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="com.example.zhang.test.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TextPlay">
        </activity>
        <activity android:name=".Email">
        </activity>
        <activity
            android:name=".Camera"
            android:label="Camera and Wallpaper"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Data">
        </activity>
        <activity android:name=".OpenedClass">
        </activity>
        <activity
            android:name=".AboutUs"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.example.zhang.test.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.example.zhang.test.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".GFX">
        </activity>
        <activity android:name=".GFXSurface">
        </activity>
        <activity android:name=".SoundStuff">
        </activity>
        <activity android:name=".Slider">
        </activity>
        <activity android:name=".Tabs">
        </activity>
        <activity android:name=".SimpleBrowser">
        </activity>
        <activity android:name=".Flipper">
        </activity>
        <activity android:name=".SharedPrefs">
        </activity>
        <activity android:name=".InternalData">
        </activity>
        <activity android:name=".ExternalData">
        </activity>
        <activity android:name=".SQLiteExample">
        </activity>
        <activity android:name=".SQLView">
            <intent-filter>
                <action android:name="com.example.zhang.test.SQLVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>